flows.json
[
    {
        "id": "15aa9154d475a501",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "64ace873c39a7a62",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/magnetismo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "d7a3bcd82a80ecad",
                "bc0f1c006bd83e28"
            ]
        ]
    },
    {
        "id": "bc0f1c006bd83e28",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 240,
        "wires": []
    },
    {
        "id": "d7a3bcd82a80ecad",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (2,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "bc0f1c006bd83e28"
            ]
        ]
    },
    {
        "id": "819217257c9616a1",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/gas",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "e89144d64dc121eb",
                "131e05e5119fe84c"
            ]
        ]
    },
    {
        "id": "131e05e5119fe84c",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "e89144d64dc121eb",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (3,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "131e05e5119fe84c"
            ]
        ]
    },
    {
        "id": "6781ab812a36eb64",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "joystick/button",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "e5802457c926f8a9",
                "bd2ee64cb9004ad1"
            ]
        ]
    },
    {
        "id": "bd2ee64cb9004ad1",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "e5802457c926f8a9",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "",
        "query": "INSERT INTO actuator_details (actuator_id, user_id, state) VALUES (2,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "bd2ee64cb9004ad1"
            ]
        ]
    },
    {
        "id": "b8dad9e222f74467",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/ky021",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 480,
        "wires": [
            [
                "cdd1478d3268fbfc",
                "c30b8c79a8581c7a"
            ]
        ]
    },
    {
        "id": "c30b8c79a8581c7a",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "cdd1478d3268fbfc",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (4,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 550,
        "y": 480,
        "wires": [
            [
                "c30b8c79a8581c7a"
            ]
        ]
    },
    {
        "id": "06e66a9094385b34",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/gas135",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 600,
        "wires": [
            [
                "64f0f97cdf3fab9f",
                "eea3cc6b7b4b94a4"
            ]
        ]
    },
    {
        "id": "eea3cc6b7b4b94a4",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 600,
        "wires": []
    },
    {
        "id": "64f0f97cdf3fab9f",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (5,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 670,
        "y": 600,
        "wires": [
            [
                "eea3cc6b7b4b94a4"
            ]
        ]
    },
    {
        "id": "b5896177c0f5e655",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "actuador/ky022",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "63ba00af50234aec",
                "798c3a5d91013a55"
            ]
        ]
    },
    {
        "id": "798c3a5d91013a55",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 60,
        "wires": []
    },
    {
        "id": "63ba00af50234aec",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "",
        "query": "INSERT INTO actuator_details (actuator_id, user_id, state) VALUES (3,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 550,
        "y": 60,
        "wires": [
            [
                "798c3a5d91013a55"
            ]
        ]
    },
    {
        "id": "c697dfdb6e63e46e",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/flama",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 720,
        "wires": [
            [
                "91b07b48f8bc82f1",
                "d0ee9787bdbb0fc6"
            ]
        ]
    },
    {
        "id": "d0ee9787bdbb0fc6",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "91b07b48f8bc82f1",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "flama",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (6,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 510,
        "y": 720,
        "wires": [
            [
                "d0ee9787bdbb0fc6"
            ]
        ]
    },
    {
        "id": "183ff4449dca297b",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/impacto",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 840,
        "wires": [
            [
                "49ba9e97f19463af",
                "98a9413b5ff3cd7a"
            ]
        ]
    },
    {
        "id": "98a9413b5ff3cd7a",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 840,
        "wires": []
    },
    {
        "id": "49ba9e97f19463af",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "impacto",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (8,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 520,
        "y": 840,
        "wires": [
            [
                "98a9413b5ff3cd7a"
            ]
        ]
    },
    {
        "id": "57cf6203ef3e6398",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "actuador/ky025",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 940,
        "wires": [
            [
                "15005512bfd1256e",
                "0b4f6f12c63ba367"
            ]
        ]
    },
    {
        "id": "0b4f6f12c63ba367",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 940,
        "wires": []
    },
    {
        "id": "15005512bfd1256e",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "ky025",
        "query": "INSERT INTO actuator_details (actuator_id, user_id, state) VALUES (4,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 510,
        "y": 940,
        "wires": [
            [
                "0b4f6f12c63ba367"
            ]
        ]
    },
    {
        "id": "132573a7b68ce35b",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/mq7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1040,
        "wires": [
            [
                "ea55c71273b2530f",
                "f6757d59a9549be7"
            ]
        ]
    },
    {
        "id": "f6757d59a9549be7",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1040,
        "wires": []
    },
    {
        "id": "ea55c71273b2530f",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (7,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 510,
        "y": 1040,
        "wires": [
            [
                "f6757d59a9549be7"
            ]
        ]
    },
    {
        "id": "fc097e70425e5c64",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/obstaculo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 1160,
        "wires": [
            [
                "20d5839d9eb0947b",
                "93a5f34210b3ca07"
            ]
        ]
    },
    {
        "id": "93a5f34210b3ca07",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1160,
        "wires": []
    },
    {
        "id": "20d5839d9eb0947b",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (9,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 510,
        "y": 1160,
        "wires": [
            [
                "93a5f34210b3ca07"
            ]
        ]
    },
    {
        "id": "6cd8bdd740cfa48f",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/linea",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 1260,
        "wires": [
            [
                "47c627f90fb92535",
                "bd5c435cf051b001"
            ]
        ]
    },
    {
        "id": "bd5c435cf051b001",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1260,
        "wires": []
    },
    {
        "id": "47c627f90fb92535",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (10,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 530,
        "y": 1260,
        "wires": [
            [
                "bd5c435cf051b001"
            ]
        ]
    },
    {
        "id": "9813f8dc8b83e459",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "actuador/color7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1400,
        "wires": [
            [
                "920c0abc473d335f",
                "89ec9d71972354c0"
            ]
        ]
    },
    {
        "id": "89ec9d71972354c0",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1400,
        "wires": []
    },
    {
        "id": "920c0abc473d335f",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "ky034",
        "query": "INSERT INTO actuator_details (actuator_id, user_id, state) VALUES (5,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 510,
        "y": 1400,
        "wires": [
            [
                "89ec9d71972354c0"
            ]
        ]
    },
    {
        "id": "243590fae999974c",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "actuador/vibracion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 1520,
        "wires": [
            [
                "df0f8df3bdbf2e99",
                "92d504a6d17c3438"
            ]
        ]
    },
    {
        "id": "92d504a6d17c3438",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1520,
        "wires": []
    },
    {
        "id": "df0f8df3bdbf2e99",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "ky034",
        "query": "INSERT INTO actuator_details (actuator_id, user_id, state) VALUES (6,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 510,
        "y": 1520,
        "wires": [
            [
                "92d504a6d17c3438"
            ]
        ]
    },
    {
        "id": "40f3d2e17117d3ae",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/tactil",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 1640,
        "wires": [
            [
                "1ce9ed1a39b35d18",
                "8e3a36f461863cf9"
            ]
        ]
    },
    {
        "id": "8e3a36f461863cf9",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1640,
        "wires": []
    },
    {
        "id": "1ce9ed1a39b35d18",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (12,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 530,
        "y": 1640,
        "wires": [
            [
                "8e3a36f461863cf9"
            ]
        ]
    },
    {
        "id": "5bfde7e1e5216194",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/pulso",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 1740,
        "wires": [
            [
                "2ee8811538784514",
                "0f75066468b0688c"
            ]
        ]
    },
    {
        "id": "0f75066468b0688c",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1740,
        "wires": []
    },
    {
        "id": "2ee8811538784514",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (13,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 550,
        "y": 1740,
        "wires": [
            [
                "0f75066468b0688c"
            ]
        ]
    },
    {
        "id": "bb5478762ed8d3c1",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "actuator/encoder",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1860,
        "wires": [
            [
                "04d3a39ee06e12c5",
                "27d7f8dc0766658d"
            ]
        ]
    },
    {
        "id": "27d7f8dc0766658d",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1860,
        "wires": []
    },
    {
        "id": "04d3a39ee06e12c5",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "encoder",
        "query": "INSERT INTO actuator_details (actuator_id, user_id, state) VALUES (8,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 520,
        "y": 1860,
        "wires": [
            [
                "27d7f8dc0766658d"
            ]
        ]
    },
    {
        "id": "b77bb3e301d19837",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 2020,
        "wires": [
            [
                "59bf4f47a86aa060",
                "8f6fe8563a6ccc05"
            ]
        ]
    },
    {
        "id": "8f6fe8563a6ccc05",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 2020,
        "wires": []
    },
    {
        "id": "59bf4f47a86aa060",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (46,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 530,
        "y": 2020,
        "wires": [
            [
                "8f6fe8563a6ccc05"
            ]
        ]
    },
    {
        "id": "0dea6e482c855b63",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/sonido",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 2120,
        "wires": [
            [
                "af90afd612919446",
                "0b9933f1755d4044"
            ]
        ]
    },
    {
        "id": "0b9933f1755d4044",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 2120,
        "wires": []
    },
    {
        "id": "af90afd612919446",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "KY-038",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (47,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 520,
        "y": 2120,
        "wires": [
            [
                "0b9933f1755d4044"
            ]
        ]
    },
    {
        "id": "76c81872815bc9c4",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/buzzer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 2240,
        "wires": [
            [
                "1356605538d0ecde",
                "2306a627e0ec6618"
            ]
        ]
    },
    {
        "id": "2306a627e0ec6618",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 2240,
        "wires": []
    },
    {
        "id": "1356605538d0ecde",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (48,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 550,
        "y": 2240,
        "wires": [
            [
                "2306a627e0ec6618"
            ]
        ]
    },
    {
        "id": "171c0685e9092fa1",
        "type": "mqtt in",
        "z": "15aa9154d475a501",
        "name": "",
        "topic": "sensor/boton",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbfcdb39f5a3db7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 2360,
        "wires": [
            [
                "2e382d1705830802",
                "d966d10d38f316a1"
            ]
        ]
    },
    {
        "id": "d966d10d38f316a1",
        "type": "debug",
        "z": "15aa9154d475a501",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 2360,
        "wires": []
    },
    {
        "id": "2e382d1705830802",
        "type": "postgresql",
        "z": "15aa9154d475a501",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (49,1, {{{msg.payload}}});",
        "postgreSQLConfig": "360fe317051e6282",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 550,
        "y": 2360,
        "wires": [
            [
                "d966d10d38f316a1"
            ]
        ]
    },
    {
        "id": "8cbfcdb39f5a3db7",
        "type": "mqtt-broker",
        "name": "aiot",
        "broker": "192.168.137.196",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "360fe317051e6282",
        "type": "postgreSQLConfig",
        "name": "aiot",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    }
]
